@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Recuperar Senha";
}

<div class="account">
    <div class="bg-white rounded p-5">
        <form asp-action="ForgotPassword" method="POST">
            <h3 class="mb-4">Informe seu email</h3>
            <div class="form-group">
                <input type="text" asp-for="Email" class="form-control" placeholder="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-block btn-success mt-4">Submit</button>
        </form>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial"></partial>
}