@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="account">
    <div class="bg-white rounded p-5">
        <form asp-action="Login" asp-route-returnurl='@ViewData["ReturnUrl"]' method="POST">
            <h3 class="mb-4">Login</h3>
            <div class="form-group">
                <input type="text" asp-for="Email" class="form-control" placeholder="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="password" asp-for="Password" class="form-control" placeholder="Senha">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.CheckBoxFor(x => x.RememberMe) Lembrar-se?
            </div>
            <button type="submit" class="btn btn-block btn-success mt-4">Login</button>
            <small class="form-text text-center text-muted mt-2">Primeira vez? <a asp-action="Register">Registre-se</a></small>
        </form>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial"></partial>
}